<mat-table [dataSource]="invoices" class="mat-elevation-z8">

  <ng-container matColumnDef="invoice number">
      <mat-header-cell *matHeaderCellDef> InvoiceNumber </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.total}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="customer">
      <mat-header-cell *matHeaderCellDef> Customer </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.customerName}} </mat-cell>
  </ng-container>
<ng-container matColumnDef="loading">
<mat-footer-cell *matFooterCellDef colspan="6">
Loading Data...
</mat-footer-cell>
</ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':invoices!=null}"></mat-footer-row>
</mat-table>