<div class ="container">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span class="toolbar-text">Customers And Invoices Application</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
</div>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold" routerLink="/customers">Customers</mat-button-toggle>
        <mat-button-toggle value="bold" routerLink="/invoices">Invoices</mat-button-toggle>
      </mat-button-toggle-group>
<router-outlet></router-outlet>