<div class="container">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span class="toolbar-text">Customers And Invoices Application</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
</div>
<button mat-button color="primary" routerLink="/customers">Customers</button>
<button mat-button color="primary" routerLink="/invoices">Invoices</button>
<button mat-button color="primary" routerLink="/customers/add">Create New</button>
<router-outlet></router-outlet>