<div class="card mb-4">
  <div class="card-body p-1">
    <h1 class="card-title text-center mb-1"><i class="fa fa-customer"></i>
      {{customer.firstName}}, {{customer.lastName}}
    </h1>
    <p class="card-text text-muted text-center">{{customer.city}}</p>
    <p class="card-text text-muted text-center">{{customer.country}}</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>

    <div class="col-sm">
      <form [formGroup]="invoiceForm" (ngSubmit)="addInvoiceForCustomer()">
        <h2 class="text-center text-success">Generate A New Invoice</h2>
        <hr />
          <!-- invoice number -->
      <div class="form-group">
        <input type="text"  class="form-control" formControlName="invoiceNumber" placeholder="Invoice Number" />
        <div class="invalid-feedback">Please choose a first name</div>
      </div>
      <!-- total -->
      <div class="form-group">
        <input type="text"  class="form-control" formControlName="total" placeholder="Total" />
        <div class="invalid-feedback">Please choose a first name</div>
      </div>
      <button class="btn btn-success" [disabled]="!invoiceForm.valid" type="submit">Generate</button>
      </form>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>




